.admin-dashboard {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: rebeccapurple;
    padding: 20px;
    margin-right: 20px;
    flex-shrink: 0;
}

.filter-group {
    margin-bottom: 20px;
}

.filter-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.content {
    flex-grow: 1;
    padding: 20px;
    align-items: center;
}

.categories-container, .products-container {
    margin-bottom: 20px;
}

.category-item, .product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    width: calc(25% - 20px); 
    margin-bottom: 20px;
}

    .product-item img {
        width: 100%; 
        height: auto; 
        margin-bottom: 10px;
    }

.product-info {
   width: 100%;
    margin-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 60px;
}

.product-detail {
    width: fit-content;
    flex-direction: row;
    margin-bottom: 5px;
}

.add-btn, .edit-link {
    background-color: mediumpurple;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.add-btn{
    margin-bottom: 50px !important;
}

    .add-btn:hover {
        background-color: purple;
    }

    .edit-link:hover {
        background-color: purple;
    }

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
