@page "/forgotPassword"
@inject NavigationManager navigationManager


<EditForm class="form-group" OnValidSubmit="OnSubmit" Model="forgotPasswordRequest">
    <DataAnnotationsValidator />
    <label for="inputEmail" class="sr-only">Email</label>
    <InputText id="inputEmail" class="form-control" placeholder="Email" autofocus @bind-Value="@forgotPasswordRequest.Email" />
    <ValidationMessage For="@(() => forgotPasswordRequest.Email)" />

    <Button Class="btn btn-sm btn-primary btn-block" Type="ButtonType.Submit">Reset password</Button>
</EditForm>

<label class="text-danger">@error</label>

@code {
    [Inject]
    IAuthService authStateProvider { get; set; } = default!;

    ForgotPasswordDto forgotPasswordRequest { get; set; } = new();

    string? error { get; set; }

    async Task OnSubmit()
    {
        await authStateProvider.ForgotPassword(forgotPasswordRequest);
        navigationManager.NavigateTo("/");
    }
}
