@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<div class="page">
    <div class="navbar-dark top-row">
        <AdminMenu/>
    </div>

    <main>
        <div class="top-row px-4">
          
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
