<AuthorizeView Roles="Admin">
    <Authorized>
        <header class="support-header">
            <nav class="support-nav">
                <div class="nav-container">
                    <a href="AdminDashboard" class="nav-logo">Dashboard</a>
                    <button class="nav-toggle" aria-label="Toggle navigation">
                        <span class="toggle-icon"></span>
                    </button>
                    <div class="nav-menu">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a href="AdminProducts" class="nav-link">Product Information</a>
                            </li>
                            <li class="nav-item">
                                <a href="DisplayUsersAndRoles" class="nav-link">User Information</a>
                            </li>
                            <li class="nav-item">
                                <a href="DisplayOrders" class="nav-link">Order Information</a>
                            </li>
                            <li class="nav-item">
                                <a href="DisplayDiscounts" class="nav-link">Discount Information</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </Authorized>
</AuthorizeView>