@inject CategoryStateService categoryStateService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WebShop.Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-row">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="products" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Products
            </NavLink>
        </div>

        <CategoriesNavMenu @ref="categoriesNavMenu" />

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="userCheck" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> userCheck
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private CategoriesNavMenu? categoriesNavMenu;

    // protected override void OnInitialized()
    // {
    //     categoryStateService.OnCategoryChanged += RefreshCategories;
    // }

    // private void RefreshCategories()
    // {
    //     // var _ = categoriesNavMenu.RefreshCategoriesList();
    // }

    // public void Dispose()
    // {
    //     categoryStateService.OnCategoryChanged -= RefreshCategories;
    // }
}