@layout WareHouseLayout


<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-row">
        <AuthorizeView Roles="Warehouse Worker">
            <Authorized>
                <WareHouseLayout></WareHouseLayout>
            </Authorized>
        </AuthorizeView>
       
    </nav>
</div>

