@layout WareHouseLayout

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-row">
        <WareHouseLayout></WareHouseLayout>
    </nav>
</div>

