.message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timestamp {
    white-space: nowrap;
}

.supportMail-container {
    border: 2px solid #007bff; 
    border-radius: 8px; 
    padding: 10px; 
    margin-bottom: 20px; 
    background-color: #f0f8ff;
}

.message-container {
    margin-bottom: 10px; 
}

.timestamp {
    text-align: right; 
    color: #888; 
}

textarea {
    width: 100%; 
    margin-top: 20px; 
}

button {
    margin-top: 10px; 
}