@page "/CheckoutSuccess"
@inject CustomStateProvider authenticationStateProvider
@inject NavigationManager navigationManager

@if (ShoppingCartItems == null)
{
    <DisplaySpinner />
}
else
{
    <div class="col-md-6">
        <h2>Thank you for your purchase!</h2>
        <h5>You will have recieved a email about your order information</h5>
    </div>
}

@code {
    [Inject]
    ICartOrderTransferService CartOrderTransferService { get; set; } = default!;

    [Inject]
    ICartItemsService CartItemService { get; set; } = default!;

    [Inject]
    IDiscountService DiscountService { get; set; } = default!;

    [Inject]
    DiscountCodeState discountCodeState { get; set; } = default!;

    public string? discountCode { get; set; }

    protected List<CartItemDto> ShoppingCartItems { get; set; } = default!;

    private ClaimsPrincipal User = default!;

    private int UserId;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            await GetAuthenticatedUserCart();

            if (User != null && User.Identity!.IsAuthenticated)
            {
                ShoppingCartItems = await CartItemService.GetCartItems(UserId);

                if (ShoppingCartItems?.Count != 0)
                {
                    await CartOrderTransfer(UserId);
                }
            }
            else
            {
                navigationManager.NavigateTo("");
            }

        }
        catch (Exception)
        {

            throw;
        }

    }

    protected async Task GetAuthenticatedUserCart()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();

        User = authState.User;

        string userIdClaimValue = User.FindFirst(ClaimTypes.NameIdentifier)?.Value!;
        if (int.TryParse(userIdClaimValue, out int userId))
        {
            UserId = userId;
        }
    }

    protected async Task CartOrderTransfer(int userId)
    {
        discountCode = discountCodeState.DiscountCode;

        await CartOrderTransferService.CartOrderTransfer(userId, discountCode);
     
    }
}
