@page "/CheckoutSuccess"

@if (ShoppingCartItems == null)
{
    <DisplaySpinner />
}
else if(ShoppingCartItems.Count > 0)
{
    <h5>Your Order is being proccesed</h5>
    <br />
    <DisplaySpinner />
}
else
{
    <h5>Your order has been sent to you</h5>
}

@code {
    private bool cartOrderTransferred = false;

    protected List<CartItemDto> ShoppingCartItems { get; set; } = default!;

    protected int TotalQuantity { get; set; } = default!;


    [Inject]
    ICartOrderTransferService CartOrderTransferService { get; set; } = default!;

    [Inject]
    ICartItemsService CartItemService { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ShoppingCartItems = await CartItemService.GetCartItems(HardCoded.UserId);

            if (ShoppingCartItems?.Count != 0)
            {
                await CartOrderTransfer(HardCoded.UserId);
            }
        }
        catch (Exception)
        {

            throw;
        }

    }
    protected async Task CartOrderTransfer(int userId)
    {
        await CartOrderTransferService.CartOrderTransfer(HardCoded.UserId);
    }
}
