
<div class="product-container">
    @foreach (var products in ProductList)
    {
        <a href="/ProductDetails/@products.Id">
            <div class="card">
                <img class="img-thumbnail" src="@products.ImageURL" />
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        @products.Name
                    </h5>
                    <p class="card-text">
                        <b>@products.Price.ToString("C")</b>
                    </p>

                    <p class="card-text">
                        <b>@products.DiscountedPrice.ToString()</b>
                    </p>
                </div>
            </div>
        </a>

    }
</div>
@code {
    [Parameter]
    public IEnumerable<ProductDto> ProductList { get; set; } = default!;
}
