@page "/OrderDetails"


@if (GetOrders == null)
{
    <DisplaySpinner />
}
else
{
    <h3>Orders</h3>

    var orderCount = GetOrders.Count();

    @if (orderCount > 0)
    {
        @foreach(var item in GetOrders)
        {
            <div>
             @item.UserId
             <br />
             @item.Id
             <br />
             @item.
            </div>
        }
    }
}


@code {
    [Parameter]
    public int orderId { get; set; } = 1;

    [Inject]
    public IOrdersService OrderService { get; set; } = default!;

    [Parameter]
    public ICollection<OrderDto> GetOrders { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            GetOrders = await OrderService.GetOrders();
        }
        catch (Exception)
        {

            throw;
        }
    }
}
