@page "/products"
@inject CustomStateProvider authenticationStateProvider

@if (ProductList == null)
{
    <DisplaySpinner />
}
else
{
    <h3 class="mb-5">Products</h3>

    var productCount = ProductList.Count();

    @if (productCount > 0)
    {

        @foreach (var productGroup in GetGroupedProductsByCategory())
        {
            <h4>@GetCategoryName(productGroup)</h4>

            <div class="row mt-3">
                <DisplayProducts ProductList="@productGroup"></DisplayProducts>
            </div>
            <hr class="mb-3" />
        }
    }
}


@code {
    [Inject]
    public IProductsService ProductService { get; set; } = default!;

    [Inject]
    public ICartItemsService CartitemService { get; set; } = default!;

    [Inject]
    private IUsersService UserService { get; set; } = default!;

    private ClaimsPrincipal User = default!;

    private int UserId;

    public List<ProductDto> ProductList { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await GetAuthenticatedUserCart();

            if (User != null && User.Identity!.IsAuthenticated)
            {

                var UserCartItems = await UserService.GetUser(UserId);

                var shoppingCartItems = await CartitemService.GetCartItems(UserCartItems.Id);

                var totalQty = shoppingCartItems.Sum(ci => ci.Qty);

                CartitemService.RaiseEventOnShoppingCartChanged(totalQty);
            }

            ProductList = await ProductService.GetProducts();
           
        }
        catch (Exception)
        {

            throw;
        }

    }

    protected async Task GetAuthenticatedUserCart()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();

        User = authState.User;

        string userIdClaimValue = User.FindFirst(ClaimTypes.NameIdentifier)?.Value!;
        if (int.TryParse(userIdClaimValue, out int userId))
        {
            UserId = userId;
        }
    }

    protected IOrderedEnumerable<IGrouping<int, ProductDto>> GetGroupedProductsByCategory()
    {
        return from product in ProductList
               group product by product.CategoryId into prodByCatGroup
               orderby prodByCatGroup.Key
               select prodByCatGroup;
    }

    protected string GetCategoryName(IGrouping<int, ProductDto> groupedProductDto)
    {
        return groupedProductDto?.FirstOrDefault(pg => pg.CategoryId == groupedProductDto.Key)!.CategoryName!;
    }
}
