@if (Review != null)
{
    <div class="review-container col-md-6">
        <div class="review-header">
            <span class="review-username">Review by @Review.User!.UserName</span>
            <span class="review-date"> - Posted: @Review.CreatedAt?.ToString("yyyy-MM-dd")</span>
        </div>
        <div class="review-content-box">
            <h4 class="review-title">Title: @Review.Title</h4>
            <div class="review-divider"></div>
            <p class="review-content">@Review.Content</p>
        </div>
        @if (CanEdit)
        {
            <button @onclick="ShowEditModal" class="btn btn-primary">Edit</button>
        }
    </div>
}



@code {
    [Parameter]
    public ReviewDto Review { get; set; } = default!;

    [Parameter]
    public EventCallback<ReviewDto> OnEditRequested { get; set; }

    [Parameter]
    public int UserId { get; set; }

    private bool CanEdit => Review.UserId == UserId;

    private void ShowEditModal()
    {
        OnEditRequested.InvokeAsync(Review);
    }
}